<!DOCTYPE html>
<html>
<body style="background-color:#2c3e50">
<!-- views/partials/navbar.ejs -->
<div class="header clearfix">
        <h1 class="text-muted" style="font-family: Arial; color:#2ecc71">TaskBot</h1>
        <a href="https://discordapp.com/oauth2/authorize?client_id=335591769414696961&scope=bot&permissions=2146958591"><h2 class="text-muted" style="font-family: Arial; color:#2ecc71">Invite me to your server!</h2></a>
        <a href="https://github.com/yoshifan509/TaskBot"><h3 class="text-muted" style="font-family: Arial; color:#2ecc71">GitHub</h3></a>
        <a href=""><h4 class="text-muted" style="font-family: Arial; color:#2ecc71">Use TaskBot for managing tasks for you and your Discord!</h4></a>
        <img src="https://emojipedia-us.s3.amazonaws.com/thumbs/120/twitter/103/white-heavy-check-mark_2705.png">
        <h5 class="text-muted" style="font-family: Arial; color:#2ecc71">wow this is a bad site i need to fix it soon lol</h5>
</div>
</html>
</body>
